/* This is for testing purposes. */
body {
	background-color: #edf2f7;
	font-family: Arail, sans-serif;
	font-weight: bold;
	color: #68778d;
}

/* This is for our wrapper <div>. */
.container {
	width: 960px;
	margin: 0 auto;
	line-height: 1.5;
	font-size: 100%;


}

/* header styling */
header{
	background-color: #fff;
	margin: 37px 32px;
	text-align: center;
		/* let us try this */
		padding: 37px 32px 53px;
}

h1{
	font-size: 125px;
	color: #63b3ed;
}

header p{
	font-size: 32px;
}

header p span{
	color: #63b3ed;
}